#core{
    
}

#information{
    padding-left: 5%;
}

#task{
    padding-left: 5%;
}

#v1{
    padding-left: 5%;
}

#operator{
    padding-left: 5%;
}

#v2{
    padding-left: 5%;
}

.buttons{
    padding-left: 5%;
}

.middleBox{
    padding-left: 5%;
}

.sentBox{
    padding-left: 5%;
}