#information{
    margin: 1%;
}

#article{
    margin: 1%;
    position: absolute;
    text-align: justify;
    font-size: 150%;
}

#test{
    margin: 1%;
    padding-top: 10%;
    position: absolute;
    font-size: 175%;
    font-weight: 500;
}

#core{
float: right;
border-style:solid;
margin-right: 10%;
padding: 3%;

}



#box1{
    font-size: 50px;
}

#task{
    
}


#result{
    font-size: 170%;
}

#restartButton{
    padding-left: 29%;

}

#restart{
    font-size: 120%;
}

#winner{
    margin-left: 6%;
    margin-top: 1%;
    position:absolute;
}

#loser{
    margin-left: 4%;
    margin-top: 1%;
    position:absolute; 
}